/* ===============================
   Author: Abhishek
   Date:   03 August 2022
   
   Notes:
   Hand coded to build a website
   portfolio from Scratch with 
   HTML & CSS by Abhishek
   
   Colour Palette:
   ---------------
   Light Cream:		#f2f3ee
   Orange:			#d17f38
   Yellow:			#e8c04f
   Brown:			#4b2707
   Orange-Yellow    #f0ca07
   Gray             #a7a7a7
   =============================== */

/* General */

body {
    background: #f2f3ee url('../images/bg-tile.gif') top left repeat;
    color: #4b2707;
    font-size: 14px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}
 
.container {
    width: 924px;
    margin: 0 auto;
    padding: 0 24px;
}

/* Header */

#nav {
    background: url('../images/bg-tile-yellow.gif') top left repeat;
    position: fixed;
    top: 0;
    width: 100%;
}

header nav {
    text-align: center;
 }
 
header nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
    line-height: 100px;
}
 
header nav ul li {
    display: inline-block;
    padding: 0 20px;
}

header nav ul li a {
    font-size: 22px;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 300;
    font-family: 'Noto Sans';
}

/* Self Potrait */

#feature-image, #myself {
    padding: 0;
    margin: 103px 0 0 0;
    float: left;
}

#social {
    float: right;
    position: relative;
    left: -430px;
}

#social img {
    margin-left: 30px;
    margin-top: 30px;
}

#myself h1 {
    font-family: Coolvetica_b,Helvetica,sans-serif;
    font-size: 48px;
    margin-top: 150px;
    margin-bottom: 0;
    padding-left: 30px;
}

#myself h2.name {
    color: #d17f38;
    font-family: Coolvetica_b,Helvetica,sans-serif;
    font-size: 68px;
    margin-top: 0;
    padding: 0 0 10px 30px;
    margin-bottom: 10px;
    background: url('../images/header-divider.png') bottom left no-repeat;
    background-position-x: 30px;
}

#myself p {
    width: 650px;
    font-family: Helvetica, sans-serif;
    font-size: 28px;
    padding: 0 40px 0 30px;
    margin-top: 10px;
}

/* Projects */

#projects h2 {
    font-family: Coolvetica_b,Helvetica,sans-serif;
    font-size: 52px;
    margin-bottom: 37px;
    padding-bottom: 30px;
    padding-top: 110px;
    background: url('../images/yellow-line.JPG') bottom left no-repeat;
    background-size: 200px;
}

.project-1 {
    width: 373px;
    float: left;
    padding-left: 80px;
    background: url('../images/profit.jpg') top left no-repeat;
    background-size: 70px;
    background-position-x: 5px;
    margin-bottom: 35px;
    border-left: dashed 4px #d17f38;
    padding-right: 5px;
}

.project-2 {
    width: 373px;
    float: right;
    padding-left: 80px;
    background: url('../images/AQI-image.png') top left no-repeat;
    background-size: 120px;
    background-position-y: 10px;
    background-position-x: -20px;
    margin-bottom: 30px;
    border-left: dashed 4px #d17f38;
    padding-right: 5px;
}

.project-3 {
    width: 373px;
    float: left;
    margin-top: 30px;
    margin-bottom: 50px;
    padding-left: 80px;
    background: url('../images/customer-reviews.png') top left no-repeat;
    background-size: 70px;
    background-position-x: 5px;
    border-left: dashed 4px #d17f38;
    padding-right: 5px;
}

.project-4 {
    width: 373px;
    float: left;
    margin-bottom: 40px;
    padding-left: 80px;
    background: url('../images/customer.png') top left no-repeat;
    background-size: 70px;
    background-position-x: 5px;
    border-left: dashed 4px #d17f38;
    padding-right: 5px;
}

#projects h3 {
    font-size: 22px;
}

p {
    font-size: 16px;
}

.project-3 h3 {
    margin-bottom: 45px;
}

.project-2 h3 {
    margin-bottom: 45px;
}
/* Footer */

/* Experience */

#experience {
    width: 428px;
    float: left;
    margin-right: 30px;
}

#about-me h2 {
    font-family: Coolvetica_b,Helvetica,sans-serif;
    font-size: 52px;
    padding-top: 110px;
    background: url('../images/yellow-line.JPG') bottom left no-repeat;
    background-size: 200px;
    padding-bottom: 20px;
    margin-bottom: 0;
}

#experience h2 {
    font-family: Coolvetica_b,Helvetica,sans-serif;
    font-size: 48px;
    padding-top: 10px;
    background: url('../images/yellow-line.JPG') bottom left no-repeat;
    background-size: 200px;
    padding-bottom: 20px;
    margin-bottom: 10px;
}

#experience h3 {
    font-size: 30px;
    margin: 0;
}

#about-me .exp h3 {
    padding: 0;
    margin: 0;
}   

.place-date {
    color: #a7a7a7;
}

#experience h4 {
    font-size: 22px;
    color: #d17f38;
    margin: 10px 0 0 0;
}

.exp, .intern {
    border-left: dashed 4px #d17f38;
    padding-left: 10px;
    margin-bottom: 50px;
}

#experience p {
    margin: 0;
    font-size: 16px;
}
/* Education */

#education {
    width: 428px;
    float: left;
    margin-left: 30px;
}

#education h2 {
    font-family: Coolvetica_b,Helvetica,sans-serif;
    font-size: 48px;
    padding-top: 10px;
    background: url('../images/yellow-line.JPG') bottom left no-repeat;
    background-size: 200px;
    padding-bottom: 20px;
    margin-bottom: 10px;
}

.edu {
    border-left: dashed 4px #d17f38;
    padding-left: 10px;
    margin-bottom: 50px;
}

.edu h3 {
    font-size: 30px;
    margin: 0;
}

.edu h4 {
    font-size: 22px;
    margin: 0;
    color: #d17f38;
}

#education p {
    font-size: 16px;
}


/* Skills */

#skills h2 {
    font-family: Coolvetica_b,Helvetica,sans-serif;
    font-size: 48px;
    padding-top: 110px;
    background: url('../images/yellow-line.JPG') bottom left no-repeat;
    background-size: 200px;
    padding-bottom: 20px;
    margin-bottom: 10px;
}

#logos img {
    margin: 16px 0 5px 29px;
    padding: 0;
}

/* Honours and Publications */

#honours, #publication {
    width: 428px;
    float: left;
    margin-right: 30px;
}

#honours-publications h2 {
    font-family: Coolvetica_b,Helvetica,sans-serif;
    font-size: 48px;
    padding-top: 85px;
    background: url('../images/yellow-line.JPG') bottom left no-repeat;
    background-size: 200px;
    padding-bottom: 20px;
    margin-bottom: 10px;
}

#honours-publications h3 {
    font-size: 26px;
    margin: 0;
    color: #d17f38;
}

.hon, .pub {
    border-left: dashed 4px #d17f38;
    padding-left: 10px;
    margin-bottom: 30px;
    margin-right: 30px;
}

.pub h4 {
    font-size: 20px;
    margin-top: 0;
}

.pub a {
    font-size: 16px;
}

/* Hobbies */

#hobbies h2 {
    font-family: Coolvetica_b,Helvetica,sans-serif;
    font-size: 48px;
    padding-top: 50px;
    background: url('../images/yellow-line.JPG') bottom left no-repeat;
    background-size: 200px;
    padding-bottom: 20px;
    margin-bottom: 10px;
}

#hobbies img {
    margin: 16px 0 50px 29px;
    padding: 0;
}
/* Force Elements to Self Clear its Children: http://css-tricks.com/snippets/css/clear-fix/ */

.clearfix:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
	}
* html .group             { zoom: 1; } /* IE6 */
*:first-child+html .group { zoom: 1; } /* IE7 */